= link_to "Back to Round", round_path(@hole.round)
%h1= "Hole " + @hole.number.to_s
= simple_nested_form_for @hole do |f|
  %table.table.table-responsive.table-hover
    %thead
      %tr
        %th.col-xs-1 #
        %th.col-xs-2 Start Distance
        %th.col-xs-2 Surface
        %th.col-xs-2 Penalty
        %th.col-xs-2 PGA Strokes
        %th.col-xs-3 Strokes Gained
    %tbody
      - @hole.strokes.each do |stroke|
        %tr
          %td= stroke.number
          %td= stroke.start_distance
          %td= stroke.surface
          %td= stroke.penalty
          %td= stroke.pro_strokes.round(3)
          %td= stroke.strokes_gained.round(3)
      = f.fields_for :strokes, wrapper: false do |s|
        - unless s.object.persisted?
          %tr.fields
            %td= s.input :number, label: false, input_html: { value: (@hole.strokes.last.number + 1) }, disabled: true
            %td= s.input :start_distance, label: false
            %td= s.input :surface, collection: ['Tee', 'Fairway', 'Rough', 'Sand', 'Recovery', 'Green'], label: false
            %td= s.input :penalty, label: false
            %td= s.link_to_remove "Remove", id: "remove"
            %td= f.submit "Save"
      %tr.final-row
        %td
        %td
        %td
        %td
        %td Total SG:
        %td= @hole.hole_total_sg.round(3).to_s
  %br
  = f.link_to_add "Add a stroke", :strokes, data: {target: ".table"}

:javascript
  $(document).on('nested:fieldAdded', function(event) {
    $('.add_nested_fields').hide();
    $('.final-row').hide();
  })

  $(document).on('nested:fieldRemoved', function(event) {
    $('.add_nested_fields').show();
    $('.final-row').show();
  })
