= link_to "Back to Round", @hole.round
= simple_nested_form_for @hole do |f|
  .panel.panel-default
    .panel-heading
      .row
        .col-sm-2.text-center
          %a.btn{ href: hole_path(@hole.previous)}
            %span.glyphicon.glyphicon-menu-left{ 'aria-hidden' => true }
        .col-sm-8
          %h2.text-center#hole-header{data: {stroke_count: @hole.strokes.count}}
            = "Hole " + @hole.number.to_s
            = link_to "(edit)", edit_hole_path(@hole) if @hole.strokes.count > 0
        .col-sm-2.text-center
          %a.btn{ href: hole_path(@hole.next)}
            %span.glyphicon.glyphicon-menu-right{ 'aria-hidden' => true }
    %table.table.table-responsive.table-hover
      %thead
        %tr
          %th.col-xs-1 #
          %th.col-xs-2 Start Distance
          %th.col-xs-2 Surface
          %th.col-xs-2 Penalty
          %th.col-xs-2 PGA Strokes
          %th.col-xs-3 Strokes Gained
      %tbody
        = f.fields_for :strokes, wrapper: false do |s|
          - if s.object.persisted?
            %tr
              %td= s.object.number
              %td= s.object.start_distance
              %td= s.object.surface
              %td= s.object.penalty
              %td= s.object.pro_strokes
              %td= s.object.strokes_gained
          - else
            %tr.fields
              %td
              %td= s.input :start_distance, label: false
              %td= s.input :surface, collection: ['Tee', 'Fairway', 'Rough', 'Sand', 'Recovery', 'Green'], label: false
              %td= s.input :penalty, label: false
              %td= s.link_to_remove "Remove", id: "remove", class: 'btn btn-danger', role: 'button'
              %td
        %tr.final-row
          %td
          %td
          %td
          %td
          %td Total SG:
          %td= @hole.total_sg
  .row
    .col-sm-2
      = f.link_to_add "Add a stroke", :strokes, data: {target: ".table"}, class: 'btn btn-primary btn-block', role: 'button'
    .col-sm-8
    .col-sm-2
      = f.submit "Save", class: 'btn btn-primary btn-block', id: 'save-btn'
