= link_to "Back to Round", @hole.round
= simple_nested_form_for @hole do |f|
  .panel.panel-default
    .panel-heading
      .row
        .col-sm-2.text-center
          %a.btn{ href: hole_path(@hole.previous)}
            %span.glyphicon.glyphicon-menu-left{ 'aria-hidden' => true }
        .col-sm-8
          %h2.text-center
            = "Hole " + @hole.number.to_s
            = link_to "(edit)", edit_hole_path(@hole) if @hole.strokes.count > 0
        .col-sm-2.text-center
          %a.btn{ href: hole_path(@hole.next)}
            %span.glyphicon.glyphicon-menu-right{ 'aria-hidden' => true }
    %table.table.table-responsive.table-hover
      %thead
        %tr
          %th.col-xs-1 #
          %th.col-xs-2 Start Distance
          %th.col-xs-2 Surface
          %th.col-xs-2 Penalty
          %th.col-xs-2 PGA Strokes
          %th.col-xs-3 Strokes Gained
      %tbody
        - unless @hole.strokes.count == 0
          - @hole.strokes.each do |stroke|
            %tr
              %td= stroke.number
              %td= stroke.start_distance
              %td= stroke.surface
              %td= stroke.penalty
              %td= stroke.pro_strokes.round(3)
              %td= stroke.strokes_gained.round(3)
        = f.fields_for :strokes, wrapper: false do |s|
          - unless s.object.persisted?
            %tr.fields
              %td= s.input :number, label: false, input_html: { value: @hole.next_number, readonly: true }
              %td= s.input :start_distance, label: false
              %td= s.input :surface, collection: ['Tee', 'Fairway', 'Rough', 'Sand', 'Recovery', 'Green'], label: false
              %td= s.input :penalty, label: false
              %td= s.link_to_remove "Remove", id: "remove", class: 'btn btn-danger', role: 'button'
              %td= f.submit "Save", class: 'btn btn-primary', id: 'save'
        %tr.final-row
          %td
          %td
          %td
          %td
          %td Total SG:
          %td= @hole.total_sg.round(3).to_s
  .row
    .col-sm-2
      = f.link_to_add "Add a stroke", :strokes, data: {target: ".table"}, class: 'btn btn-primary', role: 'button'
    .col-sm-10

:javascript
  $('#save').hide();
  $(document).on('nested:fieldAdded', function(event) {
    $('.add_nested_fields').hide();
    $('.final-row').hide();
  })

  $(document).on('nested:fieldRemoved', function(event) {
    $('.add_nested_fields').show();
    $('.final-row').show();
  })
