%h3 Round Summary
%ul
  %li Total Strokes Gained: #{@round.total_sg.round(3)}
  %li Tee Shots: #{@round.tee_shot_sg.round(3)}
  %li Approach Shots: #{@round.approach_shot_sg.round(3)}
  %li Short Game: #{@round.short_game_sg.round(3)}
  %li Putts: #{@round.putting_sg.round(3)}
