%h1.col-xs-8.col-sm-9 All Rounds
= button_to "Add New Round", new_round_path, method: :get, class: 'btn btn-primary col-xs-4 col-sm-3', style: 'margin-top: 25px'

%table.table.table-responsive.table-hover
  %thead
    %tr
      %th Date Played
      %th.hidden-xs Tee Shots
      %th.hidden-xs Approach Shots
      %th.hidden-xs Short Game
      %th.hidden-xs Putts
      %th Total SG
      %th Status
  %tbody
    - @rounds.each do |round|
      - round_classes = ['row-link', ('danger' if round.incomplete?)]
      %tr{ class: round_classes, data: {href: (round_path(round))}}
        %td= (round.date_played.to_formatted_s if round.date_played)
        %td.hidden-xs= round.tee_shot_sg
        %td.hidden-xs= round.approach_shot_sg
        %td.hidden-xs= round.short_game_sg
        %td.hidden-xs= round.putting_sg
        %td= round.total_sg
        %td= round.status
