%h1.col-xs-8.col-sm-9 All Rounds
= button_to "Add New Round", new_round_path, method: :get, class: 'btn btn-primary col-xs-4 col-sm-3', style: 'margin-top: 25px'

%table.table.table-responsive.table-hover
  %thead
    %tr
      %th Date Played
      %th Date Added
      %th Course
      %th Total SG
      %th Status
  %tbody
    - @rounds.each do |round|
      - round_classes = ['row-link', ('danger' if round.incomplete?)]
      %tr{ class: round_classes, data: {href: (round_path(round))}}
        %td= (round.date_played.to_formatted_s if round.date_played)
        %td= round.created_at.to_date.to_formatted_s
        %td= round.course
        %td= round.total_sg.round(3)
        %td= round.status
