%h2= (@round.date_played.to_formatted_s if @round.date_played)
%p= @round.course
%p= @round.notes

.row
  .col-md-6
    %h2.front9 Front 9
    - @holes.each do |hole|
      - if hole.number < 10
        = render partial: 'hole', locals: { hole: hole }
  .col-md-6
    %h2.back9 Back 9
    - @holes.each do |hole|
      - if hole.number >= 10
        = render partial: 'hole', locals: { hole: hole }
