%h2.clearfix
  .pull-left
    = (@round.date_played.to_formatted_s(:long) if @round.date_played)
  .pull-right
    = link_to "Delete", round_path(@round), method: 'delete', data: {confirm: "Are you sure you want to delete this round?"}
.row
  .col-md-6
    %p= "Course: #{@round.course}"
    %p= "Notes: #{@round.notes}"
  .col-md-6
    = render partial: 'stats' unless @round.incomplete?

.row
  .col-md-6
    %h2.front9.text-center Front 9
    - @holes.each do |hole|
      - if hole.number < 10
        = render partial: 'hole', locals: { hole: hole }
  .col-md-6
    %h2.back9.text-center Back 9
    - @holes.each do |hole|
      - if hole.number >= 10
        = render partial: 'hole', locals: { hole: hole }
